body{
    font-family: 'Courier New', Courier, monospace;
    /*henter fargen basert på hvilken variabel brukeren valgte*/
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
}
select{
    padding: 5px;
}